body {
  background-color: #24292d;
  padding: 0;
  margin: 0;
}

#welcome-section {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.introTitle {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #91690d;
  font-size: 4em;
  margin: 10px;
  letter-spacing: 10px;
  background-color: transparent;
  opacity: 1;
}

#professionTitle {
  font-size: 2em;
}

#navbar {
  display: flex;
  width: 100vw;
  height: 10%;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: 'Open Sans Condensed';
  z-index: 2;
}

#navbar a {
  display: inline-block;
  width: 100px;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  letter-spacing: 3px;
  color:  #91690d;
  font-weight: 100;
}

#resume-container {
  position: relative;
  height: 90%;
  width: 80%;
  margin: 20% 10% 0 10%;
}

#navbar a:hover {
  font-weight: 900;
  letter-spacing: 4px;
  animation:
    swell 0.3s,
    spread 0.3s;
  z-index: -1;
}

@keyframes swell {
  0% { font-weight: 100 }
  25% { font-weight: 300 }
  50% { font-weight: 500 }
  75% { font-weight: 700 }
  100% { font-weight: 900 }
}

@keyframes spread {
  0% { letter-spacing: 3px }
  50% { letter-spacing: 3.5px }
  100% { letter-spacing: 4px }
}

#projects {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#project-container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  position: absolute;
  left: 50%;
  margin-left: -235px;

}

#profile-link {
  font-size: 2em;
  position: absolute;
  top: 1025px;
  left: 10%;
  color: #424548;
}

#profile-link:hover {
  color: #91690d;
}

#codepen-link {
  font-size: 2em;
  position: absolute;
  top: 1075px;
  left: 5%;
  color: #424548;
}

#bitbucket-link {
  font-size: 2em;
  position: absolute;
  top: 1125px;
  left: 10%;
  color: #424548;
}

.project-tile {
  border: solid #424548;
}

.flip {
  animation: flip 1s;
}

i.flipBtn {
  color: #424548
}

i.flipBtn:hover {
  color: #91690d;
}

@keyframes flip {
  0%, 100% { transform: scale(1, 1) }
  50% { transform: scale(0, 1) }
}

#portfolioTitle {
  font-family: 'Open Sans Condensed';
  color: #91690d;
  position: absolute;
  top: 113%;
  left: 50%;
  margin-left: -32.94px;
  margin-top: 25px;
}

#resume {
  height: 100vh;
}

#contact {
  height: 100vh;
}

#animationBox {
  opacity: 0;
  position: absolute;
  z-index: -5;
  top: 22.5%;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  left: 50%;
  margin-left: -200px;
  transition: opacity 5s;
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}

@keyframes offset {
  0% { stroke-dasharray: 35, 30 }
  100% { stroke-dasharray : 20 150 }
}

#spiral {
  animation:
    spin 400s infinite linear,
    offset 400s infinite linear;
  ;
  transform-origin: center;
}

#artBoard {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 46.5%;
  margin-left: -200px;
  top: 25vh;
  z-index:-10;
}

#t {
  transition: all 2s;
  opacity: 0;
}

.resumeArrow:hover {
  cursor: pointer;
}

.contactBubble {
  position: relative;
  height: 200px;
  width: 200px;
  border: solid #424548 1px;
  border-radius: 100%;
  font-family: 'Open Sans Condensed';
  color: #91690d;
  text-align: center;
}

.contactBubble p {
  position: relative;
  top: 35%;
}

.contactBubble:nth-child(2) p {
  position: relative;
  top: 25%;
}


#b1 {
  top: 15%;
  left: 25%;
  margin-left: -100px;
}

#b2 {
  left: 75%;
  margin-left: -100px;
}

#b3 {
  left: 35%;
  margin-left: -100px;
}

@media screen and (max-width: 550px) {
  #navbar {
    background-color: #424548;
  }

  #profile-link {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 5%;
  }

  #codepen-link {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 15%;
  }

  #bitbucket-link {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 27%;
  }

  #vanillajs-icon {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 40%;
  }

  #react-icon {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 51%;
  }

  #nodejs-icon {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 64%;
  }

  #animation-icon {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 76%;
  }

  #api-icon {
    font-size: 2em;
    position: absolute;
    top: 1180px;
    left: 89%;
  }

}
